.pagination {
	text-align: center;
}

.pagination__item {
	display: inline-block;
	margin: 0 3px;
	padding: 3px 7px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	text-decoration: none;
}

.pagination__item--active {
	border: 0;
}
