@import '../../../variables.pcss';

.auth-form {
	box-sizing: border-box;
	padding-top: 50px;
	height: 100%;
	background: linear-gradient(
		to right,
		var(--light-grey) 0,
		var(--light-grey) 20%,
		#fff 20%,
		#fff 80%,
		var(--light-grey) 80%,
		var(--light-grey) 100%
	);
}

.auth-form__form {
	margin: 0 auto;
	width: 250px;
}

.auth-form__buttons {
	margin-top: 25px;
	text-align: center;
}

.auth-form__error {
	margin-top: 10px;
	color: red;
}
